.no-lap{
  background-color:#eee;
  position: absolute;
  margin-left: -260px;
  height: 220px;
  width: 450px;
  padding-top: 200px;
  text-align: center;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 100;
}
.lap-zone{
  background-color:#eee;
  position: absolute;
  margin-left: -260px;
  height: 420px;
  width: 450px;
  margin-top: 40px;
  overflow: scroll;
}
