.trigger{
  margin-top: -40%;
  margin-right: 2%;
  float: right;
  font-family: sans-serif;
}
.stlp{
  padding-top: 20px;
}
.reset{
  margin-left: 30px;
  border: 1px solid #E80024;
  background: #E80024;
  color: white;
  border-radius: 7px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
}
.reset:hover{
  border:1px solid #E80024;
  background: white;
  color: #E80024;
}
.start{
  margin-left: -200px;
  border: 1px solid #1679CE;
  background: #1679CE;
  color: white;
  border-radius: 7px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
}
.start:hover{
  border:1px solid #1679CE;
  background: white;
  color: #1679CE;
}
.lap{
  margin-left: 30px;
  border: 1px solid #18C97F;
  background: #18C97F;
  color: white;
  border-radius: 7px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
}
.lap:hover{
  border:1px solid #18C97F;
  background: white;
  color: #18C97F;
}
hr{
  color: rgba(0,0,0,0.1);
  width:400px;
  position: absolute;
  margin-left: -215px;

}
